#news1 {
    background-image: url(../img/ali-choubin-_yW4k-6WrwE-unsplash.jpg);
}#news2 {
    background-image: url(../img/ali-choubin-Jo6SUR3jdL8-unsplash.jpg);
}#news3 {
    background-image: url(../img/jasmin-chew-sHQy-N7E97U-unsplash.jpg);
}#news4 {
    background-image: url(../img/joe-pohle-i4ZLareLmn0-unsplash.jpg);
}#news5 {
    background-image: url(../img/wolfgang-hasselmann-4vrByHcB_Ek-unsplash.jpg);
}#news6 {
    background-image: url(../img/zero-take-556_pqm_GJg-unsplash.jpg);
}