* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font-weight */
.bold {
    font-weight: 700;
}
.semi-bold {
    font-weight: 600;
}
.medium {
    font-weight: 500;
}


/* Font-size */
.font-48px {
    font-size: 48px;
}

.text-color-black {
    color: black;
}

.text-color-white {
    color: white;
}

.text-float-right {
    float: right;
    text-align: right;
}