* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font-weight */
._bold {
    font-weight: 700;
}
._semi-bold {
    font-weight: 600;
}
._medium {
    font-weight: 500;
}


/* Font-size */
._font48px {
    font-size: 48px;
}

._text-color-black {
    color: black;
}

._text-color-white {
    color: white;
}

._text-float-right {
    float: right;
    text-align: right;
}